
<h1 class="welcome">Welcome To Philadelphia Ship Yard</h1>





<div class="container">
  <h2>About Us</h2>
  <p>Philadelphia Shipyard is a leading U.S. commercial shipyard constructing vessels for operation in the U.S. Jones Act market.
    It possesses a state-of-the-art shipbuilding facility and has earned a reputation as the preferred provider of oceangoing merchant vessels..</p>
</div>


<div class="container">
  <h2>Ships</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</p>
</div>

<div class="container">
  <h2>Ships</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</p>
</div>
</div>














<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
