
<h1 class="welcome">Welcome To Philadelphia Ship Yard</h1>




<div class="container">

  <h2 class="ships">Ships</h2>
  <div class="loremships">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</div>

  <h2></h2>
  <div>Middle div</div>

  <h2></h2>
  <div>Right div</div>

</div>














<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
