
<h1 class="welcome">Welcome To Philadelphia Ship Yard</h1>





<div class="container">
  <h2>Ships</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</p>
</div>


<div class="container2">
  <h2>Ships</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</p>
</div>

<div class="container3">
  <h2>Ships</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Obcaecati eaque eveniet illum est sit dolore explicabo tenetur praesentium, nihil officia voluptas ut adipisci expedita nisi eligendi! Illo aperiam omnis tempora.</p>
</div>
</div>














<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
