
<h1 class="welcome">Welcome To Philadelphia Ship Yard</h1>





<div class="container">
  <h2 class="h2">About Us</h2>
  <p class="p">Philadelphia Shipyard is a leading U.S. commercial shipyard constructing vessels for operation in the U.S. Jones Act market.
    It possesses a state-of-the-art shipbuilding facility and has earned a reputation as the preferred provider of oceangoing merchant vessels..</p>
</div>


<div class="container">
  <h2>Jobs</h2>
  <p class="p">Philadelphia Shipyard is a company of high-performers and a best-in-class workforce.
    We are continuously looking to strengthen our team with talented and passionate individuals.</p>
</div>

<div class="container">
  <h2>Projects</h2>
  <p class="p">The shipyard is currently building a series of eight MT-50 class product tankers.
    The 183 m long, 50,000 deadweight vessels are designed to carry a variety and liquids from crude oil to chemicals.</p>
</div>
</div>
















<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
