<h1 class="YourShips">Your Ships</h1>

<% current_user.ships.each do |ship| %>
  <li><a href='/ships/<%=ship.id %>'><%= ship.name %></a></li>
<%end%>

<div class="CreateNewShip">
<%= link_to 'Create New Ship', new_ship_path %>
</div>
