<div class="container">


  <div class="shipNfo">
    <h3>Name</h3> <p><%= @ship.name %></p>
  </div>

  <div class="shipNfo">
    <h3># of Containers</h3> <p>$<%= @ship.containers %></p>
  </div>

  <div class="shipNfo">
    <h3>Location</h3> <p><%= @ship.location %></p>
  </div>

  <div class="shipPic">
    <%= image_tag @ship.shippic.url(:thumb) %>
  </div>




</div>
