/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* .......... Main CSS ......... */
 /* .......... Sign Up Page CSS ......... */
/* ..LOOK BELOW..RS.*/

/* .......... Sign In Page CSS ......... */
/* ..LOOK BELOW..RS.*/

 /* .......... Home Page CSS ......... */
 /* ..LOOK BELOW..RS.*/

 /* .......... Jobs Page CSS ......... */
 /* ..LOOK BELOW..RS.*/

  /* .......... Ships Page CSS ......... */

 /* .......... Profile Page CSS ......... */
 /* ..LOOK BELOW..RS.*/

 /* .......... Jobs Page CSS ......... */

  /* .......... hidden Classname CSS ......... */



body {
    font-family: "Spectral SC", serif;
    font-size: 25px;
    background-image: url('ship.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p{
 color: #A9A9A9;
}

h1{
  color: #090909;
}

.pad_r{
  padding-right: 60px;
}

.float_l{
  float: left;
  padding-left: 60px;
}
  .title {
    text-align: center;
}


  .login {
    text-align: center;
}

  .actions {
    border: grey;
}

/* .......... Home Page CSS ......... */

  .welcome {
    text-shadow: 0px 2px 2px;
    text-align: center;
}

  .container {
    font-size: 13px;
    height: 190px;
    width: 30%;
    float: left;
    display: block;
    border-radius: 25px;
    padding-top: 80px;
    margin-top: 135px;
    margin-left: 30px;
    text-align: center;
}

.container > h2{
  color: black;
  font-size: 30px;
}


.box {
    padding-top: 20px;
    padding-left: 3px;
    background-color: rgba(80,80,80,0.6);
    border-radius: 7px;
    text-indent: 2em;
    text-align: left;

}

  .h2 {
    text-align: center;
}

/* .......... Sign In Page CSS ......... */

.signin {
    text-align: center;
}

.signin1 {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 430px;
}

/* .......... HEADER ......... */

.header {
  color: black;
  text-align: right;
  background-color: black;
  word-spacing: 20px;
  width: 100%;
  padding-top: 0;
}

a {
  text-decoration: none;
  color: white;
  line-height: 1.5em;
}

a:hover {
  color: blue;
}

/* .......... Sign Up Page CSS ......... */

.SignUp {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 30px;
  padding-top: 20px;
  width: 430px;
}

.SignUp1 {
  text-align: center;

}

.joblist {
  text-align: center;
}

.createnewjob {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 550px;
  padding-left: 50px;
  padding-right: 100px;
  width: 430px;}

/* .......... Jobs Page CSS ......... */


.jobslist {
  text-align: center;
}

.newjob {
  margin-right: 300px;
}

.createnewjob {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 600px;
  padding-left: 20px;
  padding-right: 40px;
  width: 430px;
}

/* .......... Ships Page CSS ......... */

.CreateANewShipHere {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 600px;
  width: 430px;
}

.CreateShipHere {
  text-align: center;
}

/* .......... Profile Page CSS ......... */


.CreateNewShip {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 600px;
  width: 430px;
}

.YourShips {
  text-align: center;
}

/* .......... Forgot Your Password Page CSS ......... */


.ForgotPassword {
  text-align: center;
}

.Email {
  text-align: center;
  border: 2px solid grey;
  border-radius: 40px;
  background-color: grey;
  opacity: 0.7;
  margin-left: 600px;
  width: 430px;
}
